// Planet Colors
$clr-mercury: rgb(65, 158, 187);
$clr-venus: rgb(237, 162, 73);
$clr-earth: rgb(109, 46, 213);
$clr-mars: rgb(209, 76, 50);
$clr-jupiter: rgb(216, 58, 52);
$clr-saturn: rgb(205, 81, 32);
$clr-uranus: rgb(30, 193, 162);
$clr-neptune: rgb(45, 104, 240);

// Neutral
$clr-light-grey: rgb(255, 255, 255);
$clr-grey: rgb(255, 255, 255);
$clr-white: rgb(255, 255, 255);
$clr-black: rgb(7, 7, 36);