.planet-info {
  &__content {
    display: grid;

    @include breakpoint(small) {
      grid-template: 1fr 1fr / 1fr 1fr;
      column-gap: 4rem;
      row-gap: 2.5rem;
      height: 100%;
    }

    @include breakpoint(medium) {
      grid-template: max-content max-content / 1fr 1fr ;
      align-content: center;
      align-items: center;
    }
  }
}